@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

.complete-profile-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  border: 1px solid #ccc;
  border-radius: 10px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  max-width: 700px;
  margin: auto;
  background-color: #fff;
  position: relative;
}

.complete-profile-page form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.complete-profile-page input {
  padding: 1rem;
  margin: 0.5rem 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 1rem;
  width: 100%;
  box-sizing: border-box;
}

.complete-profile-page input::placeholder {
  font-size: 1rem;
}

.complete-profile-page button {
  padding: 0.8rem;
  margin-top: 1rem;
  background-color: #E9692C;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  width: 100%;
}

.complete-profile-page .alert-wrapper {
  margin-top: 1rem;
}